.container
  .row
    .col-12(v-for="user in response").text-left
      h2 {{ user.name }}
      p {{ user.phone }}
      p {{ user.address.city }}
      a(href="#")
        u.font-italic {{ user.email }}

